<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Phood | Create an account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="/css/global.css"/>
</head>
<body>
<div id="registrationform">

    <div id="" class="container-fluid">
        <div id="rowTest" class="row">
            <div class="col-lg-6 offset-lg-3">
                <!--/*@thymesVar id="user" type="com.doughepi.models.UserModel"*/-->
                <form action="/register?page=2" method="post" style="display: inline;" th:object="${user}">
                    <div class="form-group">
                        <label for="inputUserName">Username</label>
                        <input type="text" class="form-control" id="inputUserName" maxlength="24"
                               placeholder="Username" th:field="*{userUsername}" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword"
                               placeholder="Password" th:field="*{userPassword}" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="inputConfirmPassword"
                               placeholder="Confirm Password" th:field="*{userConfirmationPassword}" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail"
                               placeholder="Email" th:field="*{userEmail}" required="required"/>
                    </div>

                    <button type="submit" class="btn btn-primary">Next</button>
                </form><!--end of form-->
                <form action="/" style="display: inline;">
                    <button type="cancel" class="btn btn-danger">Cancel</button>
                </form>
            </div><!--end of col-->
        </div><!--end of row-->
    </div><!--end of container fluid hi-->
</div>

</body>
</html>