.container-fluid{
    padding: 50px;
}

.indexBody {
    background-size: 100%;
    background: transparent url("/img/indexBackground.jpg") no-repeat fixed bottom;
    height: auto;
    width: auto;
}

.loginBody {
    background-size: 100%;
    background: transparent url("/img/loginBackground.jpg") no-repeat bottom;
    height: auto;
    width: auto;
}

.user-name {
    color: #c2c2c2;
}



html{
    height: 100%;
}

.full-name {

}

#rowtest {
    background-size: 50%;
    background: transparent url("/img/phoodLogo2.PNG") no-repeat center;
}

.header {
    text-transform: uppercase;
    font-weight: 900;
}

.black-bar{
    border: 3px solid #6CA0DC;
}

button, input{
    background-size: 75px;
    background: white top;
    border-style: ridge;
}

.image {
    padding: 25px 0 25px 0;
}

.category-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-name {
    color: white;
}


.search-container {
    /*padding: 10px;*/
    margin-bottom: 10px;
}

.search-result-container .search-result {
    margin-bottom: 10px;
}

.search-container {
    /*padding: 10px;*/
    margin-bottom: 10px;
}

.search-result-container .search-result {
    margin-bottom: 10px;
}





.category-container {
    margin-bottom: 20px;
}

