.container-fluid {
    height: 100%;
    padding-top: 80px;
}

.grey-background {
    background-color: #eeeeee;
}

.indexBody {
    background: url("/img/indexBackground.jpg") no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginBody {
    background: transparent url("/img/loginBackground.jpg") no-repeat bottom;
    height: 100%;
    width: 100%;
}

.user-name {
    color: #c2c2c2;
}

html {
    height: 100%;
    background-color: #eee;
}

.recipe-name {
    display: inline;
}

body {
    height: 100%;
}

.full-name {

}

#rowContainer {
    margin-top: 25vh;
}

.header {
    text-transform: uppercase;
    font-weight: 900;
}

.black-bar {
    border: 3px double #a8a8a8;
    border-length: 100%;
}

button, input {
    background-size: 75px;
    background: white top;
    border-style: ridge;
}

.space {
    padding: 15px;
}

.category-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-name {
    color: white;
}

.profile-category-name {
    color: black;
}

.search-container {
    /*padding: 10px;*/
    margin-bottom: 10px;
}

.search-result-container .search-result {
    margin-bottom: 10px;
}

.profileBackground img.profileImage {
    z-index: -100;
    width: 100%;
    margin-bottom: 10px;
}

#name-wrapper {
    position: relative;
    width: 40%;
    z-index: 1000;
    margin: -90px 10px 0 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.profile-container {
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.profile-container img {
    margin-right: 20px;
    width: 15%;
    height: 100%;
}

#name-wrapper img {
    margin-right: 20px;
    width: 10%;
}

.star {
    color: gold;
}

@media (max-width: 3594px) {

    .fb-profile-text > h1 {
        font-weight: 700;
        font-size: 16px;
    }

    .fb-image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }
}
