.container-fluid{
    padding: 50px;
}

.indexBody {
    background-image: url("/img/indexBackground.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: transparent;
    height: auto;
    width: auto;
}

.loginBody {
    background-image: url("/img/loginBackground.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: transparent;
    height: auto;
    width: auto;
}

.user-name {
    color: #c2c2c2;
}

html{
    height: 100%;
}

.full-name {

}

#rowtest {
    background-image: url("/img/phoodLogo2.PNG");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.header {
    text-transform: uppercase;
    font-weight: 900;
}

.black-bar{
    border-style:solid;
    border-width:3px;
    border-color: #6CA0DC;
}

button, input{
    background-color: white;
    background-size: 75px;
    background-position: top;
    border-style: ridge;
}

.image {
    padding: 25px;
}

.search-container {
    /*padding: 10px;*/
    margin-bottom: 10px;
}

.search-result-container .search-result {
    margin-bottom: 10px;
}