<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Phood | Create a recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="/css/global.css"/>
    <script>
        function addIngredient() {
            var f = document.createElement("form");
            f.setAttribute('method',"post");
            f.setAttribute('action',"submit.php");

            var i = document.createElement("input"); //input element, text
            i.setAttribute('type',"text");
            i.setAttribute('name',"username");

            var s = document.createElement("input"); //input element, Submit button
            s.setAttribute('type',"submit");
            s.setAttribute('value',"Submit");

            f.appendChild(i);
            f.appendChild(s);

            //and some more input elements here
            //and don't forget to add a submit button

            document.getElementsByTagName('body')[0].appendChild(f);
        }
    </script>
</head>
<body>
<div id="recipeform">

    <div id="" class="container-fluid">
        <div id="rowTest" class="row">
            <div class="col-lg-6 offset-lg-3">
                <form action="/recipe/new" method="post">

                    <div class="form-group">
                        <label for="inputRecipeName">Recipe Name</label>
                        <input type="text" class="form-control" id="inputRecipeName"
                               placeholder="Recipe Name" required="required"/>

                        <label for="inputRecipeDescription">Recipe Description</label>
                        <input type="text" class="form-control" id="inputRecipeDescription"
                               placeholder="Recipe Description" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="inputRecipeCategory">Recipe Category</label>
                        <input type="text" class="form-control" id="inputRecipeCategory"
                               placeholder="Recipe Category" required="required"/>
                    </div>

                    <button type="addIngredient" class="btn btn-primary" onsubmit="addIngredient()">Add Ingredient</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                    <button type="cancel" class="btn btn-danger">Cancel</button>
                </form><!--end of form-->

            </div><!--end of col-->
        </div><!--end of row-->
    </div><!--end of container fluid hi-->
</div>

</body>
</html>