<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Phood | Create a recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="/css/global.css"/>
</head>
<body>
<div id="recipeform">

    <div id="" class="container-fluid">
        <div id="rowTest" class="row">
            <div class="col-lg-6 offset-lg-3">
                <form action="/recipe/new" method="post" th:object="${recipe}">

                    <div class="form-group">
                        <label for="inputRecipeName">Recipe Name</label>
                        <input type="text" class="form-control" id="inputRecipeName"
                               placeholder="Recipe Name" th:field="*{setRecipeName}" required="required"/>

                        <label for="inputRecipeDescription">Recipe Description</label>
                        <input type="text" class="form-control" id="inputRecipeDescription"
                               placeholder="Recipe Description" th:field="*{setRecipeDescription}" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="inputRecipeCategory">Recipe Category</label>
                        <input type="text" class="form-control" id="inputRecipeCategory"
                               placeholder="Recipe Category" th:field="*{setRecipeCatagory}" required="required"/>
                    </div>

                    <p>Ingredients</p>
                    <div id="ingredient-container" class="form-group">
                        <div id="ingredient-template" class="row" style="display: none">
                            <div class="col-2">
                                <input type="number" class="ingredient-quantity form-control"/>
                            </div>
                            <div class="col-6">
                                <input type="text" class="ingredient-name form-control"/>
                            </div>
                            <div class="col-3">
                                <input type="text" class="ingredient-unit form-control"/>
                            </div>
                            <div class="col-1">
                                <button id="remove-button" type="button" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                    </div>

                    <button id="ingredient-button" type="button" class="btn btn-primary">Add Ingredient</button>
                    <button type="button" class="btn btn-primary">Next</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </form><!--end of form-->

            </div><!--end of col-->
        </div><!--end of row-->
    </div><!--end of container fluid hi-->
</div>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<script>
    jQuery(document).ready(function () {
        var ingredients = [];
        var index = 1;


        var $ingredientContainer = $("#ingredient-container");
        var $ingredientButton = $("#ingredient-button");
        var $ingredientTemplate = $("#ingredient-template");


        $ingredientButton.click(function () {
            duplicateAndAppend();
        })

        function duplicateAndAppend() {
            var $newIngredientRow = $ingredientTemplate.clone();
            $ingredientContainer.append($newIngredientRow);
            $newIngredientRow.attr({
                id: ""
            });

            var $removeButton = $newIngredientRow.find('#remove-button');
            $removeButton.attr({id: "button-" + index});

            $removeButton.click(function () {
                $newIngredientRow.remove();
                index--;
            });

            $newIngredientRow.show();
            ingredients.push($newIngredientRow);
            index++;
        }
    })
</script>

</body>
</html>