<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Phood | Documentation</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="/css/global.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
</head>
<body>
<nav th:replace="_navbar :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="">Phood Documentation</h4>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Creating an account</a>
                <a href="#" class="list-group-item list-group-item-action">Create a recipe</a>
                <a href="#" class="list-group-item list-group-item-action">Viewing your recipes</a>
                <a href="#" class="list-group-item list-group-item-action">Searching for other recipes</a>
                <a href="#" class="list-group-item list-group-item-action ">Viewing your profile</a>
            </div>
        </div>
        <div class="col-lg-10">


            <div class="row">
                <div class="col-lg-12">
                    <h5>Creating an account</h5>
                    <p>You can create an account by navigating to our <a href="/register">registration page.</a></p>
                </div>




                <div class="col-lg-12">
                    <h5>Creating a recipe: <a href="recipe/new">create recipe page</a></h5>
                    <p><h3>*</h3>If you find a recipe that you'd like to store to others, locate the nav bar. It should be in the upper
                        position of your page. In that nav-bar click on the button named "Create Recipe"</p>

                    <p><h3>*</h3>You will need to insert a recipe name that suits that of your dish. Please keep in mind that this page will be made public
                        so restrain from any profane words or dishes. Once you have inserted a name, go ahead an add a description that gives users
                        and idea what your recipe will be such as tastes, and what events its good for.</p>

                    <p><h3>*</h3>Once you've created your description select the category for which your recipe falls into, then
                    Go step by step the directions to cook your meal. For other people convenience </p>

                    <p><h3>*</h3>Once you've created a recipe add in all of the ingredient that will be required for your dish. The ingredient are listed in 3 columns,
                        quantity, measurements, and description of what that ingredient is.</p>

                    <p><strong>Example:</strong>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="font-weight-bold">1</span>
                            </td>
                            <td ><span class="font-italic">cup</span></td>
                            <td><span class="font-weight-bold">milk</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                        </p>


                </div>

            </div>
        </div>
    </div>
</div>


<!--Javascript Files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>