<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    </meta>
    <title>Title</title>

    <!--CSS Files-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="/css/global.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet"/>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div id="name-wrapper">
                <!--/*@thymesVar id="user" type="com.doughepi.models.UserModel"*/-->
                <h5 class="user-name" th:text="${username}">@ajreicha</h5>
                <h3 class="full-name" th:text="${name}">Adam Reichanadter</h3>
            </div>
            <hr class="black-bar"/>
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <!--/*@thymesVar id="recipe" type="com.doughepi.models.RecipeModel"*/-->
                        <li th:each="recipe : ${recipes}">
                            <a th:text="*{recipe.getRecipeName()}"
                               th:href="@{/recipe?recipeID={path}(path=${recipe.getRecipeID()})}"></a>
                            <p th:text="*{recipe.getRecipeDescription()}"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>