<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<!--/*@thymesVar id="recipe" type="com.doughepi.models.RecipeModel"*/-->
<p th:text="${recipe.getRecipeID()}"></p>
<p th:text="${recipe.getCreationDate()}"></p>
<p th:text="${recipe.getRecipeName()}"></p>
<p th:text="${recipe.getRecipeDescription()}"></p>
<p th:text="${recipe.getRecipeCategory()}"></p>
<p th:text="${recipe.getLikes()}"></p>
<button id="like-button" type="button" class="btn btn-submit">Like</button>
<button id="dislike-button" type="button" class="btn btn-danger">Dislike</button>
<ul>
    <li th:each="ingredient : *{recipe.getIngredientModels()}">
        <p th:text="${ingredient.getIngredientID()}"></p>
        <p th:text="${ingredient.getIngredientQuantity()}"></p>
        <p th:text="${ingredient.getIngredientUnit()}"></p>
        <p th:text="${ingredient.getIngredientName()}"></p>
    </li>
</ul>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script>
    jQuery(document).ready(function () {
        var $likeButton = $("#like-button");
        var $dislikeButton = $("#dislike-button");
        $likeButton.click(function () {
            like();
        });
        $dislikeButton.click(function () {
            dislike();
        });
        function like() {
            $.ajax({
                url: '/recipe/like' + location.search,
                method: 'post'
            })
        }
        function dislike() {
            $.ajax({
                url: '/recipe/dislike' + location.search,
                method: 'post'
            })
        }
    })
</script>
</body>
</html>